@import url('https://fonts.googleapis.com/css2?family=Anton&family=Montserrat:wght@500&display=swap');
.about_us{
    margin: 0;
}
.about_us .cover{
    height: 50vh;
}
.about_us .about{
    max-width: 800px;
    margin: auto;
    padding-bottom: 100px;
    box-shadow: 0px 0px 20px  rgb(155, 155, 155);
}
.about_us .content{
    max-width: 800px;
    margin: auto;
    overflow: auto;
}
.about_us .content img{
    object-fit: cover;
    object-position: center;
    margin: 10px;    
}
.about_us .content img.floatright{
    max-width: 400px;
    height: 300px;
    float: right;
}
.about_us .content img.floatcenter{
    width: 100%;
    margin: 0;
    height: 300px;
}
.about_us .content img.floatleft{
    max-width: 400px;
    height: 300px;
    float: left;
}
.about_us h1{
    color: orange;
    font-family: sans-serif;
    margin: 0;
    font-size: 50px;
    margin: 0px 8px 50px 8px;
    text-align: center;
}
.about_us h2, .about_us p{
    font-family: 'Montserrat', sans-serif;
    margin: 8px;
}
.about_us p{
    font-size: 14px;
    font-weight: 200;
    color: gray;
}
@media(max-width:480px){
    .about_us .about{
        width: 95vw;
    }
    .about_us .content img.floatright,
    .about_us .content img.floatcenter, 
    .about_us .content img.floatleft{
        width: 100%;
        height: 50vh;
        margin: 0;
        float: none;
    }
}